<!DOCTYPE HTML>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>



    

    <title>Testing</title>


</head>

<div id="pageTitle">
	<img class="globe" src="/assets/img/globe.png" />
	<div id="insidePageTitle">
		<h2>E84SAT</h2>
		<p>Polonium-powered cubesats</p>
	</div>
</div>

<body >

        



             <!--- START: ISP TEMPLATE EMBED -->
             
                 <div id="{{page.embedId}}">
                    {{> embedDeps}}
                    {{> body }}
                 </div>
            
             <!--- END: ISP TEMPLATE EMBED -->
       




</body>


</html>
